{% extends 'base.html.twig' %}
{% block title %} Change le mot de passe | {{ parent() }} {% endblock %}
{% block content_heading %}
    <div class="row">
        <div class="col-md-8">
            <ol class="breadcrumb">
                <li class="active">{{ app.user.username }}</li>
                <li class="active">Changer le mot de passe</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <button type="submit" form="fos_user_change_password" class="btn btn-primary"> Enregistrer les modifications </button>
            <a href="{{ path('import_product') }}" class="btn btn-default"> Annuler </a>
        </div>
    </div>
{% endblock %}
{% block main_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-md-offset-3" style="margin-top: 10px;">
                <div class="panel">
                    <div class="panel-body">
                        {{ include('@FOSUser/ChangePassword/change_password_content.html.twig') }}
                    </div> <!-- .panel-body -->
                </div> <!-- .panel -->
            </div>
        </div>
    </div>
{% endblock %}
